#maincontent{margin-left:auto;margin-right:auto;width:960px}
#maincontent .grid_1,
#maincontent .grid_2,
#maincontent .grid_3,
#maincontent .grid_4,
#maincontent .grid_5,#maincontent .grid_6,#maincontent .grid_7,#maincontent .grid_8,#maincontent .grid_9,#maincontent .grid_10,#maincontent .grid_11,#maincontent .grid_12,#maincontent .grid_13,#maincontent .grid_14,#maincontent .grid_15,#maincontent .grid_16{display:inline;float:left;position:relative;margin-left:10px;margin-right:10px}
#maincontent .grid_3,
#maincontent .grid_6,
#maincontent .grid_9,
#maincontent .grid_12,
#maincontent .alpha{margin-left:0}
#maincontent .omega{margin-right:0}
#maincontent .grid_1{width:60px}
#maincontent .grid_2{width:140px}
#maincontent .grid_4{width:300px}
#maincontent .grid_5{width:380px}
#maincontent .grid_7{width:540px}
#maincontent .grid_8{width:620px}
#maincontent .grid_10{width:780px}
#maincontent .grid_11{width:860px}
#maincontent .prefix_3,
#maincontent .prefix_6,
#maincontent .prefix_9,
#maincontent .prefix_1{padding-left:80px}
#maincontent .prefix_2{padding-left:160px}
#maincontent .prefix_4{padding-left:320px}
#maincontent .prefix_5{padding-left:400px}
#maincontent .prefix_7{padding-left:560px}
#maincontent .prefix_8{padding-left:640px}
#maincontent .prefix_10{padding-left:800px}
#maincontent .prefix_11{padding-left:880px}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}
* html .clearfix{height:1%}