#maincontent ul.package-info {
    list-style-type: none;
}
#maincontent ol.instructions {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    padding:10px;
    background-color:rgba(0, 0, 0, 0.8);
    color:#FFF;
    font-size:120%;
    line-height:2em;
    font-family:"andale mono", monaco, "courier new", courier;
}
#maincontent .releases {
    position: absolute;
    float: right;
    background-color: #00BB00;
    color: #FFF;
}
#maincontent .releases h3 {
    font-family: Georgia,Palatino,"Times New Roman",Times,serif;
    font-size: 150%;
    background-color: #006500;
    color: #FFF;
    padding-left: 10px;
    margin-bottom: 5px;
}
#maincontent .releases ul, #maincontent .releases li {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-left: 2px;
}
#maincontent .releases ul, #maincontent .release-notes {
    padding-left: 10px;
}
#maincontent .releases li, #maincontent .release-notes {
    padding-bottom: 5px;
}
#maincontent .releases li a {
    color: #000;
}
#maincontent .releases .download {
    float: right;
    margin-right: 5px;
}
#maincontent ol.instructions a,
#maincontent ol.instructions a:link {
    color:#FFF;
}
